{% load wagtailcore_tags %}
{% load navigation_tags %}

<header id="KGlobalHeader" class="header clearfix">
  <a class="visually-hidden" href="#main">Skip to content</a>
  <nav class="navbar navbar-expand-lg">
    <a class="app-logo navbar-brand" href="/">
      <img class="krita-logo" alt="Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"/>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav col">
        {# main_menu is defined in blender_fund_main/templatetags/navigation_tags.py #}
        {% get_site_root as site_root %}
        {% top_menu parent=site_root calling_page=self %}

        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'settings_home' %}">
              <span>My Account</span>
            </a>
          {% else %}
            <a class="nav-link" href="{% url 'account_login' %}">
              <span>Login</span>
            </a>
          {% endif %}
        </li>
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" target="_self">
              <span>🚀 Admin!</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/cms" target="_self">
              <span>🚀 CMS!</span>
            </a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item">
            {% if 'loginas_from_user' in request.session %}
              <a class="nav-link" href="{% url 'loginas-logout' %}"><span>Switch back</span></a>
            {% else %}
              <a class="nav-link" href="{% url 'account_logout' %}"><span>Log out</span></a>
            {% endif %}
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="https://krita.org/en/shop/" target="_self">
            <span>Shop</span>
          </a>
        </li>
      </ul>
      <svg xmlns="http://www.w3.org/2000/svg" style="display:none"><symbol id="sun-fill" viewBox="0 0 16 16"><path d="M8 12a4 4 0 100-8 4 4 0 000 8zM8 0a.5.5.0 01.5.5v2a.5.5.0 01-1 0v-2A.5.5.0 018 0zm0 13a.5.5.0 01.5.5v2a.5.5.0 01-1 0v-2A.5.5.0 018 13zm8-5a.5.5.0 01-.5.5h-2a.5.5.0 010-1h2a.5.5.0 01.5.5zM3 8a.5.5.0 01-.5.5h-2a.5.5.0 010-1h2A.5.5.0 013 8zm10.657-5.657a.5.5.0 010 .707l-1.414 1.415a.5.5.0 11-.707-.708l1.414-1.414a.5.5.0 01.707.0zm-9.193 9.193a.5.5.0 010 .707L3.05 13.657a.5.5.0 01-.707-.707l1.414-1.414a.5.5.0 01.707.0zm9.193 2.121a.5.5.0 01-.707.0l-1.414-1.414a.5.5.0 01.707-.707l1.414 1.414a.5.5.0 010 .707zM4.464 4.465a.5.5.0 01-.707.0L2.343 3.05a.5.5.0 11.707-.707l1.414 1.414a.5.5.0 010 .708z"></path></symbol><symbol id="moon-stars-fill" viewBox="0 0 16 16"><path d="M6 .278a.768.768.0 01.08.858 7.208 7.208.0 00-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527.0 1.04-.055 1.533-.16a.787.787.0 01.81.316.733.733.0 01-.031.893A8.349 8.349.0 018.344 16C3.734 16 0 12.286.0 7.71.0 4.266 2.114 1.312 5.124.06A.752.752.0 016 .278z"></path><path d="M10.794 3.148a.217.217.0 01.412.0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217.0 010 .412l-1.162.387A1.734 1.734.0 0011.593 7.69l-.387 1.162a.217.217.0 01-.412.0l-.387-1.162A1.734 1.734.0 009.31 6.593l-1.162-.387a.217.217.0 010-.412l1.162-.387a1.734 1.734.0 001.097-1.097l.387-1.162zM13.863.099a.145.145.0 01.274.0l.258.774c.115.346.386.617.732.732l.774.258a.145.145.0 010 .274l-.774.258a1.156 1.156.0 00-.732.732l-.258.774a.145.145.0 01-.274.0l-.258-.774a1.156 1.156.0 00-.732-.732l-.774-.258a.145.145.0 010-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path></symbol></svg>
      <ul class="navbar-nav"><li class="nav-item dropdown"><a class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static"><svg class="bi my-1 theme-icon-active"><use href="#sun-fill"></use></svg><span class="d-lg-none ms-2">Toggle theme</span></a><div class="dropdown-menu dropdown-menu-end" role="listbox" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem; margin: 5px 0px 0px; top: 100%; right: 0px; left: auto;"><a type="button" class="nav-link dropdown-item d-flex align-items-center active" data-bs-theme-value="light"><svg class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>Light</a>
<a type="button" class="nav-link dropdown-item d-flex align-items-center" data-bs-theme-value="dark"><svg class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>Dark</a></div></li></ul>
    </div>
  </nav>
</header>
