<!DOCTYPE html>
<head>
  {% load wagtailcore_tags %}
  {% load wagtailimages_tags %}
  {% wagtail_site as site %}
  {% load pipeline %}

  <meta charset="utf-8">
  <title>{% block page_title %}{{ page.title }} {% endblock page_title %}{{ site.site_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Blender Foundation">
  <meta name="theme-color" content="#ed8f31">

  {% image page.social_media_image max-1920x1080 as social_media_image %}
  <meta name="description" content="Join the Development Fund and support Blender Foundation to work on core Blender development.">
  <meta property="og:site_name" content="Blender Development Fund">
  <meta property="og:title" content="Blender Development Fund">
  <meta property="og:description" content="Join the Development Fund and support Blender Foundation to work on core Blender development.">
  <meta property="og:url" content="https://fund.blender.org/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@blender_org">
  <meta name="twitter:title" content="Blender Development Fund">
  <meta name="twitter:description" content="Join the Development Fund and support Blender Foundation to work on core Blender development.">{% if social_media_image %}
  <meta name="twitter:image" content="{{ page.get_site.root_url }}{{ social_media_image.url }}">
  <meta property="og:image" content="{{ page.get_site.root_url }}{{ social_media_image.url }}">{% else %}
  <meta name="twitter:image" content="https://www.blender.org/wp-content/themes/bthree/assets/images/placeholder_background.jpg">
  <meta property="og:image" content="https://www.blender.org/wp-content/themes/bthree/assets/images/placeholder_background.jpg">{% endif %}

  {% load static %}
  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/js.cookie.js' %}"></script>

  {% javascript 'tutti' %}
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>

  {% stylesheet 'main' %}
  <link rel="icon" href="{% static 'images/favicon.ico' %}">{% if settings.GOOGLE_ANALYTICS_TRACKING_ID %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}');
  </script>{% endif %}

  {% block head %}{% endblock head %}

  <noscript>
    <style type="text/css">
      .js-fades {opacity: 1 !important; visibility: visible !important}
    </style>
  </noscript>
</head>
<body class="page-devfund {{ page_id }} has-global-bar">
  {% block body %}
    {% block navigation_global %}
    {% include "_navbar_global.html" %}
    {% endblock navigation_global %}

    {% block nav_secondary %}
    {% include "blender_fund/_navbar_secondary.html" %}
    {% endblock nav_secondary %}

    {% block navbar_tertiary %}{% endblock navbar_tertiary %}

    {% block page_header %}
    {% endblock page_header %}

    {% if messages %}
    <div class="notice-wrapper">
      {% for message in messages %}
      <div class="show notice error notice-error"><span class="notice-message">{{ message }}</span></div>{% endfor %}
    </div>
    {% endif %}

    <div class="container-main">
      {% block content %}{% endblock content %}
    </div>

    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}
  {% endblock body %}

  {% block footer_scripts %}{% endblock footer_scripts %}
</body>
