{% extends "blender_fund/layout.html" %}
{% load filters %}

{% block content %}
<div class="container py-3">
  <div class="stats-activity stats-activity-standalone">
    <h1>Activity</h1>
    <ul>
        {% for a in page_obj %}
        <li id="activity-{{ a.id }}" class="a-cat-{{ a.category }} a-membership-cat-{{ a.membership.level.category }}">

          <span class="a-title">
            <i class="i-activity"></i>
          {% if a.url %}
          <a href="{{ a.url }}" target="_blank">{{ a.display_title }}</a>
          {% else %}
          {{ a.display_title }}
          {% endif %}
        </span>


        <a href="{% url 'activity-list' %}#activity-{{ a.id }}">
          <span class="time" title="{{ a.created_at }}"> {{ a.created_at | naturaltime_compact }}</span>
        </a>

        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}blender_fund_main/activity/{{ a.id }}/change/" class="edit-link">
          <i class="i-edit"></i>
        </a>
        {% endif %}

        {% if a.body or a.url %}
        <div class="a-body">
          {% if a.body %}
          {{ a.body }}
          {% endif %}
          {% if a.url %}
          <br/>
          <a class="btn btn-secondary" href="{{ a.url }}" target="_blank">Read more</a>
          {% endif %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a href="?page=1"><i class="i-chevron-left"></i> First</a>
    </li>
    <li class="page-item">
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}

    <li class="page-item disabled">
      <a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    <li class="page-item">
      <a href="?page={{ page_obj.paginator.num_pages }}">Last <i class="i-chevron-right"></i> </a>
    </li>
    {% endif %}
  </div>
</div>
{% endblock content %}
