
{% extends "settings/base.html" %}
{% block content_settings %}
{{ block.super }}
<h2 class="h4">Receipts</h2>
{% if orders %}
  <table class="table table-striped m-3">
    <thead>
      <tr>
        <th>Receipt ID</th>
        <th></th>
        <th>Amount Paid</th>
        <th>Paid At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders %}
        <tr>
          <td>{{ o.id }}</td>
          <td>{{ o.name }}</td>
          <td class="text-right">{{ o.price.with_currency_symbol_nonocents }}</td>
          <td>{{ o.paid_at|date|default:'unknown' }}</td>
          <td><a href="{% url 'settings_receipt' order_id=o.pk %}">View&nbsp;Receipt</a><br/><a href="{% url 'settings_receipt_pdf' order_id=o.pk %}">Download&nbsp;PDF</a>{% if can_woosh %}<br/><a class="px-3" href="{% url 'admin:looper_order_change' object_id=o.pk %}">🚀</a>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>You have no receipts.</p>
{% endif %}
{% endblock content_settings %}
