{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="mt-3 h2 text-start">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<p>Please sign in with KDE Invent or one of the following third party accounts.</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>

<p>New user? <a href="{% url 'account_signup' %}">Create an account</a><p>

{% endblock %}
