
{% extends "email_layout.html" %}
{% block body %}
<p>Dear {{ customer.full_name|default:user.email }},</p>
<p>Your Blender Fund membership was activated! Thanks for your support.</p>
<p>You can always go to <a href="{{ link }}">{{ link }}</a> to view and update your membership.</p>{% endblock %}