
{% extends "email_layout.html" %}
{% block body %}
<p>Dear {{ customer.full_name|default:email }},</p>
<p>
  Automatic payment of your Blender Development Fund membership failed. Don't worry, we will
  <strong>automatically try again</strong> soon. This was collection attempt
  {{ order.collection_attempts }} of {{ maximum_collection_attemps }}. If things still fail
  after that, we'll send you another email.
  
</p>
<p>The error we received from the payment provider was: {{ failure_message }}.</p>
<p>
  For now you can either wait for another automatic try, or visit
  <a href="{{ pay_url }}">{{ pay_url }}</a> to pay manually.
  
</p>
<p>You can always go to <a href="{{ membership_url }}">{{ membership_url }}</a> to
  view and update your membership.
</p>{% endblock %}