{% extends "blender_fund/layout.html" %}
{% block page_header %}

{% block nav_secondary %}
  {% include "blender_fund/_navbar_secondary.html" %}
{% endblock nav_secondary %}

{% block navbar_tertiary %}{% endblock navbar_tertiary %}
{% endblock page_header %}

{% block content %}
  <div class="post">
    <h1>{% block box_title %}{% endblock %}</h1>
    {% block box_content %}{% endblock %}
  </div>
{% endblock content %}
