
{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% block content %}
<div class="checkout-container">
  <section class="checkout">
    <header><a class="text-muted" href="/"><i class="i-chevron-left pr-3"></i> Blender Development Fund</a>
      <section class="plan-info d-flex align-items-center">
        <h2 class="my-0 pt-4">Not your payment link</h2>
      </section>
    </header>
    <hr/>
    <p>You seem to have followed someone else's payment link.</p>
  </section>
</div>{% endblock %}
