
{% extends "settings/base.html" %}
{% load humanize %}
{% block content_settings %}
{{ block.super }}
<h2 class="mt-2 text-secondary h3">
  Membership
  {% if user.is_staff and perms.blender_fund_main.change_membership %}<a href="{% url 'admin:blender_fund_main_membership_change' object_id=membership.pk %}">(edit)</a>{% endif %}
</h2>
<p>Your <strong>{{ membership.level.name }}</strong> membership started	<abbr title="{{ membership.created_at }}">{{ membership.created_at | naturaltime }}</abbr>
  and is currently {{ membership.status }}.
</p>
{% block after_membership_info %}{% endblock %}
{% endblock content_settings %}
